build/classes/util/CatDTO.class
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.jdt.core.prefs
.project
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.common.component
.settings/.jsdtscope
.settings/org.eclipse.wst.common.project.facet.core.xml
WebContent/META-INF/MANIFEST.MF
