@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}

.mButton 
{
	position:relative; 
	text-align:center; 
}

#errorDiv
{
	display: none;
}

#errorMsg
{
	color: red !important;
}

#title
{
	margin: 25px;
}

.container
{
	margin-top: 60px;
}