@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
#row
{
	overflow-y:scroll;
	overflow-x:hidden;
	overflow-y:auto;
	height: 350px;
}
.card
{
	margin-top: 30px;
	padding: 30px;
}
.dt1
{
	width: 50%;
	display: inline;
}
.dt2
{
	width: 50%;
	display: inline;
}
th
{
	background-color: #F6F6F6;
	width: 30%;
}
.mButton.gCenter 
{ 
	position:relative; text-align:center; 
}
.alignRight
{
	margin: 10px 0;
   	padding: 0 4px 0 0;
   	text-align: right;
}
.card
{
	margin-top: 100px;
}
.wrap span {
	position: relative;
	float: right;
}
.input-group
{
	height: 100px;	
}
span
{
	font-size: small;
}

#completebtn
{
	margin-left: 2%;
}
.custom-select
{
	width:100px;
}
#custom-select1
{
	width:200px;
}
#select0
{
	margin-top: 7px;
}
#select1
{
	margin-left: -14%;
}

#select2
{
	margin-left: -7%;
}

#textarea
{
	height: 100px;
}

#yesno
{
	margin-top: 20px;
}
#yesno1
{
	margin-top: 30px;
}
#yesno2
{
	margin-top: 7px;
}
#questionbtn
{
	margin-top: -10px;
	float: right;
}
#container
{
	margin-top: 5%;
}
#container2
{
	margin-left: 5%;
}
#counter {
/*   background:rgba(255,0,0,0.5); */
  border-radius: 0.5em;
  padding: 0 .5em 0 .5em;
  font-size: 0.75em;
}
.m20
{
	margin-top: 20px;
}
.m7
{
	margin-top: 7px;
}
.blue
{
	color: blue;
}