@charset "UTF-8";

	*
	{
		font-family: 'Nanum Gothic Coding', monospace;
		font-family: 'Quicksand', sans-serif;
	}
	
/************** (헤더+브레드크럼 영역) **************/
	
	.container2 
	{
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 60px;
	}
	
	
	
	.header
	{
		padding-left: 50px;
		/* margin-left: 30px; */
		padding-right: 50px;
	}
	
	.post-view
	{
		width: 100%;
	    margin-right: auto;
	    padding-left: 50px;
		/* margin-left: 30px; */
		padding-right: 50px;
		width: 100%;
	}
	
	.header-title
	{
		padding-top: 1rem;
		border-color: #ddd;
		border-bottom: solid 1px #000000e0;
	}
	
	.header-title span
	{
		font-size: medium;
		letter-spacing: 0px;
	}
	
	.breadcrumbs ul
	{
		padding-top: 10px;
		padding-left: 0px;
	}
	
	
	h2 {
		font-weight: 800;
		letter-spacing: 5px;
		margin-top:40px;
	}



/********* (본문 영역 .post-view) **************/
	
	.post-head
	{
		padding-bottom: 10px;
	}
	.post-title
	{
		padding-bottom: 10px;
	}
	
	.post-title span
	{
		font-weight: bold;
		font-family: 맑은고딕;
	}
	
	/* 글 상태 변경 .post-status */
	.post-status
	{
		margin-bottom: 20px;
		margin-left: 5px;
	}
	
	/* 고양이 대표사진 .iconic-photo */
	.iconic-photo
	{
		overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
	}
	
	/* 게시글 정보 */
	.missing-info
	{
		border-style: none;
	}
	
	.missing-info th
	{
		width: 19%;	
		font-size: 18px;
		font-weight: bold;
	}
	
	.missing-info th, td
	{
		height: 50px;
	}
	
	/* 게시글 작성자 정보 */
	.writer-info
	{
		margin-top: 40px;
		background-color: #dae4ed;
		padding-left: 20px; 
		width: 100%;
		padding-bottom: 20px;
	}
	
	.writer-info .post_content
	{
		margin-left: 0px;
	}
	.writer-info-title
	{
		font-weight: bold;
		font-size: 18px;
		padding-top: 15px;
		padding-bottom: 15px;
		
	}
	.send-message > i
	{
		font-size: 13px;
		color: black;
		margin-left: 6px;
		
	}
	
/******** (우측 플로팅 배너-현재신청자수/입양신청 버튼) **********/
	
 	.slidemenu
	{
		padding: 0px;
		position:absolute;
		right:10%;
		width:230px;
		
	} 
	
	.apply
	{
		width:250px;
		height:auto;
		background-color: #dfe4ea;
		border: none;
		border-radius: 5px;
		padding: 15px;
	}
	
	.apply h5
	{
		font-weight: bold;
	}
	
	.apply h5 > span
	{
		font-weight: bold;
	}
	
	.apply button
	{
		width: 190px;
		margin-bottom: 5px;
	}
	
	.apply .deadline 
	{
		margin-top: 10px;
		margin-bottom: 10px;
		color: red;
		font-size:13pt;
		font-weight: bold;
	}
	
	#leftDate
	{
		display: inline;
  		color: red;
  		font-weight: bold;
	}
	
	
	/* 신청자 페이지 추가 */
	.apply .apply-date
	{
		font-size: small;
	}
	
	.apply-date
	{
		font-weight: bold;
	}
	
/************* (글아래 신고/공유/추천 버튼) **********/
	
	.post-view-bottom
	{
		padding-left: 50px;
		/* margin-left: 30px; */
		padding-right: 50px;
		width: 100%;
	}
	
	.post-footer
	{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	.post-footer .post-share
	{
		position: relative;	
		display: flex;
	    justify-content: center;
	    padding: 15px 0;
	    width: 100%;
	    
	}
	
	.post-footer .btn_report
	{
		border: 1px solid #D7625E;
  		background-color: #D7625E;
  		color: #fff;
   	 	padding: 9px 10px;
    	margin: 0 1px;
    	border-radius: 2px;
    	outline: none;
    	overflow: visible;
    	display: inline-block;
	}
	
	.post-footer .btn_share
	{
		border: 1px solid #516B82;
  		background-color: #516B82;
  		color: #fff;
   	 	padding: 9px 10px;
    	margin: 0 1px;
    	border-radius: 2px;
    	outline: none;
    	overflow: visible;
    	display: inline-block;
	}
	
	
	.dropdown-menu 
	{
	    display: none;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    z-index: 9;
	    float: left;
	    min-width: 85px;
	    padding: 0;
	    text-align: left;
	    border-radius: 2px;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #999;
	    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
	}
	
	.post-footer .post_share .share 
	{
	    width: 90px;
	    left: 1px;
	    margin: 1px 0 0 0;
	}
	
	.open .dropdown-menu 
	{
   		display: block;
	}
	
	.dropdown-menu li 
	{
    	border-bottom: 1px dotted #ccc;
	}
	.dropdown-menu li a 
	{
	    display: block;
	    padding: 4px 10px;
	    clear: both;
	    font-weight: normal;
	    color: #666;
	    white-space: nowrap;
	    line-height: 20px;
	    overflow: hidden;
	}
	
	.share a 
	{
	    color: #232F3E;
	    text-decoration: none;
	    cursor: pointer;
	    font-size: 13px;
	}
	
	.post_footer .post_share .share span 
	{
	    display: initial;
	    width: 15px;
	    margin: 0 5px 0 0;
	}
	
	.open .dropdown-menu span 
	{
	    white-space: nowrap;
	    overflow: hidden;
	    display: block;
	    text-overflow: ellipsis;
	}
	}
	.fa 
	{
    	position: relative;
	}

	.post-footer .post_share .share .twitter 
	{
    	color: #4CA0EB;
	}
	.post-footer .post_share .share .facebook 
	{
    	color: #0754A1;
	}
	.post-footer .btn_like
	{
		border: 1px solid #78AEBD;
  		background-color: #78AEBD;
  		color: #fff;
   	 	padding: 9px 10px;
    	margin: 0 1px;
    	border-radius: 2px;
    	outline: none;
    	overflow: visible;
    	display: inline-block;
	}
	
	.open .dropdown-menu span 
	{
	    white-space: nowrap;
	    overflow: hidden;
	    display: block;
	    text-overflow: ellipsis;
	}

	.post_footer .btn_like .text 
	{
    	margin: 0 0 0 5px;
	}

/************** (이전글/다음글 영역) *************/

	.post-view-bottom
	{
		/* position: absolute; */	
		bottom: 0px;
	}


	.beforeafter 
	{
	    overflow: hidden;
	    clear: both;
	    width: 100%;
	    padding-bottom: 20px;
	    padding-top: 20px;
	}
	
	.beforeafter span
	{
		padding-left: 50px;
	}
/******************* (댓글 영역) *****************/
		
	#comment-form
	{
		margin-top: 70px;
	}
	
	#comment-form textarea
	{
		resize: none;
		border-color: #adb5bd !important;
		background-color: #fff !important;
		padding-left: 1.07143rem !important;
    	padding-right: 1.07143rem !important;
    	overflow: auto;
    	display: block;
	    width: 100%;
	    padding: .375rem .75rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    color: #495057;
	    background-color: #adb5bd;
	    background-clip: padding-box;
	    border: 1px solid ;
	    border-radius: .25rem;
	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	#comment-form textarea:focus 
	{
  	   color: #555;
	}

	.login-notice 
	{
		display: inline;
		font-size: medium;
	}
	
	.comment-list-area
	{
		padding-top: 1rem !important;
    	padding-bottom: 1rem !important;
    	margin-bottom: 0.5rem !important;
	}
	
	.letter-number-notice
	{
		color: #999;
		font-size: 0.85714rem;
		font-weight: 500;
	}
	
	.comment-head
	{
		margin-bottom: 3rem!important;
	}
	
	.comment
	{
		margin-bottom: 2.14286rem ;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: start;
	    -ms-flex-align: start;
	    align-items: flex-start;
	}
	
	.comment-date
	{
		margin-left: 0.71429rem;
		color: #999;
		font-size: 0.85714rem;
		font-weight: 500;
	}
	
	.comment-content
	{
		flex:1;
	}
	
	.comment-writer
	{
		font-weight: 600 !important;
		display: block;
	}
	
	.comment-writer-date
	{
		display: flex;
		align-items: flex-start;
	}
	
	hr
	{
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-top: 1px solid rgba(0,0,0,.2);
		box-sizing: content-box;
		height: 0;
		overflow: visible;
	}