@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}

.bolck {
	width: 100px;
	text-align: center;
}

.bolck2 {
	width: 150px;
	text-align: center;
}

#loginError, #inputError
{
	display: none;
	color: red !important;
	text-align: center;
}

#alert
{
	text-align: center;
	margin-top: 60px;
	color: red;
	font-weight: bold;
	font-size: 15px;
}