@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
.card 
{
	left: 100px;
	width: 700px;
	heigth: 400px;
	bottom: 25%;
	font-size: 1.8em;
	font-weight: bold;
	position: absolute;
	border-radius: 15px;
}

/* .card 
{
	left: 1200px;
	width: 700px;
	heigth: 500px;
	bottom: 20%;
	font-size: 1.8em;
	font-weight: bold;
	position: absolute;
	border-radius: 15px;
} */


.mainImg
{
	width: 100%;
}

.center
{
	text-align: center;
}

.wh
{
	width: 800px; 
	height: 400px;
}

.container2
{
	margin-left: 150px;
	margin-right: 150px;
}

.catImg
{
	width:300px;
	object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 20px;
}

p
{
	margin-bottom: 0px;
}