@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
.card 
{
	left: 100px;
	width: 600px;
	heigth: 400px;
	bottom: 25%;
	font-size: 1.8em;
	font-weight: bold;
	position: absolute;
	border-radius: 15px;
}

.mainImg
{
	width: 100%;
}

.center
{
	text-align: center;
}

.wh
{
	width: 800px; 
	height: 400px;
}