@charset "UTF-8";	


/************ Breadcrumbs 부분 ************/	

#header	
{	
	margin-bottom: 40px;	
	font-family: 맑은 고딕;	
}	

#header-title	
{	
	padding-top: 1rem;	
	border-color: #ddd;	
	border-bottom: solid 1px #000000e0;	
}	

#header-title  #title	
{	
	font-weight: bold;	
	letter-spacing: 5px;	
	margin-top:40px;	
}	

#header-title  #sub-title	
{	
	font-size: medium;	
	letter-spacing: 0px;	
}	

#breadcrumbs ul	
{	
	padding-top: 10px;	
	padding-left: 0px;	
}	

#breadcrumbs span a	
{	
	font-size: 13px;	
}	



/************ 고양이 종류 option 이미지 ************/	

.image-radio 
{	
    cursor: pointer;	
    box-sizing: border-box;	
    -moz-box-sizing: border-box;	
    -webkit-box-sizing: border-box;	
    border: 4px solid transparent;	
    margin-bottom: 0;	
    outline: 0;	
}	

.image-radio input[type="radio"] {	
    display: none;	
}	

.image-radio-checked {	
    border-color: #4783B0;	
}	

.image-radio img	
{	
	width: 170px;	
	height: auto;	
}	

/************ 본문영역 *************/	

textarea	
{	
	resize: none;	
}	

#seoul	
{	
	margin-right: -40px;	
}	

.gu-select	
{	
	margin-right: -20px;	
}	

#name	
{	
	background-color: #fff;	
}	

.col-form-label:not(#seoul)
{
	font-weight: bold;
	font-size: 12pt;
	
}

/************ 임시저장 & 작성완료 버튼 부분 ************/	

#button-section	
{	
	padding-top: 60px;	
	padding-bottom: 150px;	
}	

#save-btn, #submit-btn	
{	
	padding-top: 10px;	
	padding-bottom: 10px;	
	padding-left: 35px;	
	padding-right: 35px;	
	margin-left: 20px;	
	margin-right: 20px;	
}	
