@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}

.bolck 
{
	width: 100px;
	text-align: center;
}

#err
{
	color: red !important;
	display: none;
}

#err2
{
	color: red !important;
	display: none;
}

#inputArea
{
	margin-top: 40px;
	width: 100%;
}

#newPwdLbl
{
	width: 150px;
}