@charset "UTF-8";

div {
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
span
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
.card {
	margin-top: 30px;
	padding: 30px;
}

.dt1 {
	width: 50%;
	display: inline;
}

.dt2 {
	width: 50%;
	display: inline;
}

th {
	background-color: #F6F6F6;
	width: 30%;
}

.mButton.gCenter {
	position: relative;
	text-align: center;
}

.alignRight {
	margin: 10px 0;
	padding: 0 4px 0 0;
	text-align: right;
}

.card {
	margin-top: 100px;
}

span {
	font-size: medium;
}
.container
{
	margin-top: 3
	
	0px;
}
#exampleFormControlFile1
{
	display: none;
}
.colFormLabel
{
	width: 150px;
}
.custom-select
{
	width: 100px;
}
#custom-select
{
	width: 130px;	
}
#select0
{
	margin-right: -10%;
	margin-top: 10px;
}
#select1
{
	margin-left: -5%;
}
#yesno 
{
	margin-top: 1%;
}
#yesno1
{
	margin-top: 2%;
}
#yesno2
{
	margin-top: 3%;
}
#questionbtn
{
	position: relative;
	float: right;
}
#textarea
{
	width: 100%;
	height: 100px;
}
#completebtn
{
	margin-left: 2%;
}
.form-group.row
{
	margin-top: 2%;
}
#notice
{
	color: red;	
	margin-left: -5px;
}
.form-group .required .control-label:after 
{ 
	content:"*";color:red; 
}

