@charset "UTF-8";

div {
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}

.card {
	margin-top: 30px;
	padding: 30px;
}

.dt1 {
	width: 50%;
	display: inline;
}

.dt2 {
	width: 50%;
	display: inline;
}

th {
	background-color: #F6F6F6;
	width: 30%;
}

.mButton.gCenter {
	position: relative;
	text-align: center;
}

.alignRight {
	margin: 10px 0;
	padding: 0 4px 0 0;
	text-align: right;
}

.card {
	margin-top: 100px;
}

span {
	font-size: small;
}

.container2 {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 60px;
}
.header
{
	margin-top: 60px;
}
.red
{
	color:red;
}
.purple
{
	color:purple;
}
.scroll
{
	overflow-y: scroll; 
	overflow-x: hidden; 
	overflow-y: auto; 
	height: 2000px;
}
.mph
{
	margin: 30px; 
	padding: 10px; 
	height: 260px;
}