@charset "UTF-8";


div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}

.container
{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-title
{
	padding-top: 1rem;
	border-color: #ddd;
	border-bottom: solid 1px #000000e0;
}

.breadcrumbs
{
	padding-top: 10px;
	padding-left: 0px;
}

h2 {
	font-weight: bold;
	letter-spacing: 5px;
	margin-top:40px;
}

dt {
	display: inline;
	text-align: center;
	font-size: small;
}

dd {
	display: inline;
	text-align: center;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #c7c9d7;
	border-color: #c7c9d7;
}

.No {
	width: 4%;
}

.Category {
	width: 8%;
}

.Subject {
	width: 36%;
	text-align: left;
}

.Writer {
	width: 12%;
}

.Date {
	width: 20%;
}

.Viewed {
	width: 10%;
}

.Like {
	width: 10%;
}